.pre-turing-projects-link {
    padding-bottom: 5%;
    color: blue;
    text-decoration: underline;
}

.pre-turing-projects-link {
    padding-bottom: 5%;
    color: white;
    text-decoration: underline;
}

.gif-container {
    padding-bottom: 5%;
}