main {
  height: 100%;
}

.app-dark-mode {
  background-color: #000065;
  color: white;
}

.app-light-mode {
  background-color: lightblue;
}

h2 {
  font-size: 40px;
}

p {
  font-weight: bold;
}

.main-content-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.content-box {
  border: solid black 1px;

}

.content-box {
  border: solid white 1px;
}

.content-box {
  width: 80%;
}




.content-image {
  width: 100%;
}

.content-padding {
  padding: 5%;
}

a {
  padding-bottom: 5%;
}

.link-dark-mode {
  color: white;
  text-decoration: underline;
}

.link-light-mode {
  color: blue;
  text-decoration: none;
}

/* a {
  color: blue;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: underline;
} */