.light-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border-bottom: 1px solid black;
    height: 10vh;
}

.dark-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
    border-bottom: 1px solid white;
    height: 10vh;
}

.header-text-light-mode {
    font-size: 20px;
    margin-left: 10px;
}

.header-text-dark-mode {
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

.left-side-container {
    margin-left: 5%;
    display: flex;
}

.right-side-container {
    margin-right: 5%;
    display: flex;
}

.desktop {
    display: flex;
    align-items: center;
}

.mobile {
    display: flex;
}

.hamburger-menu-light-mode {
    color: black;
}

.hamburger-menu-dark-mode {
    color: white;
}

@media screen and (max-width: 449px) {
    .desktop {
        display: none;
    }
}  

@media screen and (min-width: 450px) {
    .mobile {
        display: none;
    }
}  