header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.left-side-container {
    margin-left: 5%;
    display: flex;
}

.right-side-container {
    margin-right: 5%;
    display: flex;
}

.header-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

@media screen and (max-width: 490px) {
    .right-side-container {
        flex-direction: column;
        align-items: center;
    }
}