footer {
    justify-content: center;
    height: 10vh;
    font-size: small;
    padding-bottom: 3%;
}

.footer-dark-mode {
    background-color: darkgrey;
    border-top: 1px solid white;
}

.footer-light-mode {
    background-color: lightgray;
    border-top: 1px solid black;
}